#nobilling {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#fff;
	background:rgba(255,255,255,0.8);
	z-index:41000;
	padding:20px;
}
#nobillinginner {
	max-width:400px;
	margin:100px auto;
	border-radius:4px;
	background:#fff;
	border:2px solid #000;
	padding:40px;
}
.swb_side_form {
	padding:15px 15px 5px;
	border-radius:3px;
	border:1px solid #EDEDED;
	background:#FBFBFB;
}
.swb_websites {
	list-style:none;
	margin:0;
}
.swb_webthumb {
	width:100%;
	background:#ccc;
}
.swb_thumb_titlebar,.swb_thumb_scaffold {
	float:left;
}
.swb_webthumb .swb_thumb_img {
	opacity:0;
	position:absolute;
	top:4.7%;
	left:0;
}
#free_trial_full,#free_trial {
	background:#FFF19B;
	margin:-30px auto 40px;
	padding:20px 20px 1px;
}
#free_trial_full .Button_Large {
	float:right;
	margin:-15px 0 0 ;
}
#swb_tabs {
	text-align:center;
	margin:0 150px 20px;
}

#swb_tabs a,#swb_coupon_link {
	border:1px solid #ccc;
	padding:5px 10px;
	text-decoration:none;
	margin-right:-1px;
	display:inline-block;
}
#swb_tabs a.current {
	background:#444;
	border:1px solid #444;
	color:#fff;
}
#swb_tabs a:first-child{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#swb_tabs a:last-child{
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#swb_coupon_link {
	border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;
	float:right;
	cursor:pointer;
}
@media (max-width:768px) {
	
	#swb_tabs {
		margin:0 0 20px;
	}
	#swb_coupon_link {
		display:block;
		float:none;
	}
	#swb_tabs a {
		margin-right:0;
		margin-bottom:-1px;
	}
	#swb_tabs a,#swb_tabs a:first-child,#swb_tabs a:last-child {
		display:block;
		border-radius:0px;-webkit-border-radius:0px;-moz-border-radius:0px;
	}
	#swb_tabs a:first-child{
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	#swb_tabs a:last-child{
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}
.swb_websites li p.swb_subscribe_price {
	float:right;
	margin:15px 0 0 0px;
}
.swb_websites li form {
	margin:0;
}
.swb_websites li p.swb_button {
	margin:0;
	float:left;
	width:48%;
	padding:0;
}
.swb_websites li p.swb_button a {
	display:block;
	font-size:14px;
	padding-left:0;
	padding-right:0;
	text-align:center;
	background:#DCF068;
	border:2px solid #DCF068;
	color:#000;
	box-shadow:none;-webkit-box-shadow:none;-moz-boz-shadow:none;
}
.swb_websites li p.swb_button.first {
	margin-right:4%;
}
.swb_websites li p.swb_button.first a {
	background:#2677B2;
	color:#fff;
	border:2px solid #2677B2;
}
.swb_websites li p {
	margin:0;
}
.swb_websites li strong {
	font-size:20px;
	line-height:35px;
}
.swb_websites li {
	width:29.1%;
	float:left;
	margin:0 6.35% 30px 0;
	position:relative;
	box-shadow:2px 2px 7px rgba(0,0,0,0.2);
	-moz-box-shadow:2px 2px 7px rgba(0,0,0,0.2);
	-webkit-box-shadow:2px 2px 7px rgba(0,0,0,0.2);
}
.swb_websites_admin,.swb_websites_admin ul {
	list-style:none;
	margin:0;
}
.swb_websites_admin ul {
	margin-left:15px;
}
.swb_websites_admin > li {
	border:1px solid #ccc;
	box-shadow:2px 2px 7px rgba(0,0,0,0.2);
	-moz-box-shadow:2px 2px 7px rgba(0,0,0,0.2);
	-webkit-box-shadow:2px 2px 7px rgba(0,0,0,0.2);
	padding:15px;
}
.swb_websites li.endofrow {
	margin-right:0;
}
@media (max-width:1300px) {
	.swb_websites li {
		margin-right:;
		width:32%;
		margin-right:2%;
	}
}
@media (max-width:1000px) {
	.swb_websites li.endofrow2,.swb_websites li.endofrow2.endofrow {
		margin-right:0%;
	}
	.swb_websites li,.swb_websites li.endofrow {
		margin-right:;
		width:44%;
		margin-right:12%;
	}
}
@media (max-width:768px) {
	.swb_websites li.endofrow2,.swb_websites li.endofrow2.endofrow {
		margin-right:0%;
	}
	.swb_websites li,.swb_websites li.endofrow {
		margin-right:;
		width:49.5%;
		margin-right:1%;
	}
	.swb_websites li p.swb_button a  {
		font-size:11px;
	}
}
@media (max-width:480px) {
	.swb_websites li,.swb_websites li.endofrow {
		margin-right:;
		width:100%;
		margin-right:0%;
	}
}
.swb_website_buttons {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding:5px 10px 10px;
	background:#000;
	background:rgba(0,0,0,0.8);
}
.swb_subscribe {
	float:right;
}
p.swb_small {
	font-size:11px;
}
#swb_features_store {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:rgba(0,0,0,0.5);
	z-index:40000;
	display:none;
}
#swb_features_store_inner {
	border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;
	padding:20px;
	position:absolute;
	top:50px;
	right:50px;
	bottom:50px;
	left:50px;
	overflow:auto;
	background:#fff;
}
.swb_subscribe .swb_coupon {
	font-size:11px;
	margin-top:7px;
	line-height:12px;
	float:left;
	margin-right:15px;
	background:#E6E6E6;
	padding:4px 4px 3px;
	border-radius:3px;
}
.swb_subscribe .swb_coupon input {
	margin:0;
	width:70px;
	font-size:12px;
	line-height:12px;
	padding:2px 4px;
}
.swb_title {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	line-height:25px;
	color:#fff;
	font-size:13px;
	padding-bottom:5px;
	text-align:center;
}
.swb_title a {
	color:#fff;
	text-decoration:none;
}
#swb_login .Button_Large a, #swb_signup_form .Button_Large a,#swb_add_site .Button_Large a {
	width:100%;
	text-align:center;
	margin:0;
}
#swb_signup_form {
	max-width:400px;
	margin:0 auto 30px;
	background:#F2F2F2;
	border:2px solid #ccc;
	padding:20px;
	border-radius:5px;
}
#swb_add_site,#swb_change_pass,#swb_login {
	background:#F4F4F4;
	padding:5px 20px;
}
#swb_add_site .submit_form,#swb_change_pass .submit_form,#swb_login .submit_form {
	margin-top:10px;
}
#swb_add_site .submit_form a,#swb_login .submit_form a {
	padding:12px 15px;
}
#swb_add_site p {
	margin-bottom:5px;
}
#swb_add_site p.Icon_Alert,#swb_add_site p.Icon_Tick
,#swb_change_pass p.Icon_Alert
,#swb_change_pass p.Icon_Tick
,#swb_login p.Icon_Alert
,#swb_login p.Icon_Tick {
	margin-top:15px;
}
.swb_coupon_code {
	float:left;
	background:#262626;
	color:#fff;
	padding:20px;
	border-radius:5px;
	position:absolute;
	top:80px;
	right:0px;
	display:none;
	z-index:2;
}
.swb_coupon_code:after {
	content:"";
	position:absolute;
	top:-20px;
	right:20px;
	border:10px solid transparent;
	border-bottom:10px solid #262626;
}
.swb_coupon_code .Button_Large a {
	display:block;
	text-align:center;
}
.swb_coupon_code .Icon_Alert {
	color:#FF0C00;
	margin-top:-15px;
}
.swb_coupon_code form {
	margin:0;
}
.swb_coupon_code form input {
	font-size:16px;
}
.swb_coupon_code p {
	margin-bottom:0;
}
.swb_coupon_code h4 {
	color:#fff;
	margin-bottom:5px;
}

#swb_login input[type=text]
,#swb_login input[type=password]
,#swb_change_pass input[type=text]
,#swb_change_pass input[type=password]
,#swb_signup_form input[type=text]
,#swb_signup_form input[type=password]
,#swb_add_site input[type=text] 
{
	width:100%;
	font-size:18px;
	padding:10px;
}
#swb_add_site_info {
	text-align:center;
	margin:0;
}
#swb_signup_domain_wrap {
	background:#fff;
	position:relative;
}
#swb_http {
	position:absolute;
	top:1px;
	left:1px;
	z-index:1;
	font-size:18px;
	padding:10px;
	color:#777;
}
#swb_features_store_purchase {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	background:#E8E8E8;
	height:100px;
}
#swb_features_store_features {
	padding:20px 20px 20px;
	overflow:auto;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:100px;
}
#swb_features_store_features h2 {
	margin-bottom:10px;
}
.taxComment {
	font-size:14px;
	line-height:14px;
	display:none;
}
#swb_package_price {
	float:right;
	font-size:45px;
	line-height:45px;
	text-align:left;
	padding:20px;
}
.discountValue.discounted {
	color:#308200;
}
.originalValue.discounted {
	margin-right:10px;
	color:#ccc;
	text-decoration:line-through;
}
#swb_pacakge_month {
	line-height:15px;
	font-size:15px;
	display:block;
	text-align:right;
}
#swb_save_package,#swb_cancel_package {
	float:right;
	font-size:30px;
	padding:12px 30px;
	border-radius:5px;
	margin:20px;
}
#swb_cancel_package {
	float:left;
	background: rgb(255,255,255);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	box-shadow:none;
	color:#333;
	border:1px solid #ccc;
	font-weight:normal;
	font-size:25px;
	padding:15px 25px;
}
#swb_plans {
	text-align:center;
}
.swb_features_store_plan.swb_plan_featured {
	vertical-align:top;
	margin-top:-25px;
	box-shadow:5px 5px 5px rgba(0,0,0,0.2);
	-moz-box-shadow:5px 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.2);
}
.swb_plan_recommended {
	background:#609D00;
	color:#fff;
	font-size:11px;
	text-transform:uppercase;
	margin:0;
	text-align:center;
	padding:5px 0 0;
	height:30px;
}
.swb_features_store_plan {
	background:#DFE5F6;
	margin-bottom:30px;
	margin-top:-10px;
	display:inline-block;
	width:30%;
	margin-right:3%;
}

.swb_features_store_plan h3 {
	text-align:center;
	background:#384FA0;
	padding:20px 0;
	color:#fff;
	margin:0;
}
.swb_features_store_plan.swb_plan_featured {
	background:#EAFFC5;
}
.swb_features_store_plan.swb_plan_featured h3 {
	background:#557F2A;
}
.swb_features_store_plan h3 .swb_plan_price {
	display:block;
	font-size:12px;
}
.swb_plan_price_val {
	margin-right:-4px;
}
.swb_plan_feature  {
	text-align:center;
	border-bottom:1px solid #999;
	margin:0 20px;
	padding:5px 0;
}
.swb_plan_choose_button,.swb_plan_selected {
	text-align:center;
	margin:30px 0 30px;
}
.swb_plan_choose_button button  {
	box-shadow:none;
	color:#333;
	font-size:16px;
	padding:10px 25px;
	border:1px solid #ccc;
	margin-bottom:0;
	border-radius:3px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
.swb_plan_featured .swb_plan_choose_button button 
{
	background: rgba(98,125,77,1);
	background: -moz-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(98,125,77,1)), color-stop(100%, rgba(31,59,8,1)));
	background: -webkit-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
	background: -o-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
	background: -ms-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
	background: linear-gradient(to bottom, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08', GradientType=0 );
	box-shadow:none;
	color:#333;
	font-size:16px;
	padding:10px 25px;
	border:1px solid #3e6b22;
	box-shadow:2px 2px 7px rgba(0,0,0,0.2);
	-moz-box-shadow:2px 2px 7px rgba(0,0,0,0.2);
	-webkit-box-shadow:2px 2px 7px rgba(0,0,0,0.2);
	
	margin-bottom:0;
	border-radius:3px;
	color:#fff;
}
.swb_features_store_plan .swb_plan_choose_button
,.swb_features_store_plan.swb_plan_disabled .swb_plan_selected {
	display:none;
}
.swb_features_store_plan.swb_plan_disabled .swb_plan_choose_button
,.swb_features_store_plan .swb_plan_selected {
	display:block;
}
.swb_plan_selected span  {
	display:inline-block;
	background: #fff;
	background: rgba(255,255,255,0.6);
	box-shadow:none;
	color:#333;
	font-size:16px;
	padding:10px 25px;
	border:none;
	font-weight:bold;
	border-radius:3px ;
	border:2px solid #384FA0;
}
.swb_plan_featured .swb_plan_selected span  {
	border:2px solid #557F2A;
	border-radius:3px;
	
}
.swb_features_store_plan.swb_plan_four {
	width:23%;
	margin-right:2%;
}
@media (max-width:768px) {
	.swb_features_store_plan,.swb_features_store_plan.swb_plan_featured,.swb_features_store_plan.swb_plan_four {
		width:100%;
		display:block;
		padding-bottom:1px;
		margin-right:0;
		margin-bottom:20px;
		margin-top:0;
	}
}

.swb_features_store_plan:last-child {
	margin-right:0;
}
.swb_features_store_feature {
	padding:5px 25px;
	border-right:1px solid #ccc;
	width:25%;
	float:left;
	margin-bottom:20px;
}
.swb_features_store_feature p,.swb_features_store_feature h3 {
	margin-left:136px;
}
@media (max-width:1450px) {
	.swb_features_store_feature {
		width:50%;
	}
	.lastoftwo {
		border-right:0;
	}
}
@media (max-width:900px) {
	.swb_features_store_feature {
		width:100%;
		border-right:none;
		border-bottom:1px solid #ccc;
	}
	.swb_features_store_feature.lastofall {
		border:none;
	}
}
#swb_features_loader {
	display:none;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:rgba(0,0,0,0.3);
}
.swb_features_loading #swb_features_loader {
	display:block;
}
#swb_features_loader .loader {
	width:100px;
	height:100px;
	top:50%;
	position:absolute;
	left:50%;
	margin-top:-50px;
	margin-left:-50px;
}
#swb_features_loader .loader-7:before {
	background:#ADD44F;
}
#swb_features_loader .loader-7:after {
	background:#EEF495;
}
#swb_features_success {
	display:none;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:rgba(0,0,0,0.3);
	text-align:center;
}
#swb_features_success p {
	position:absolute;
	top:45%;
	left:0;
	width:100%;
	text-align:center;
}
#swb_features_success p span {
	max-width:60%;
	color:#fff;
	background:#308200;
	padding:20px 40px;
	font-size:16px;
	font-weight:bold;
	border-radius:5px;
	border:2px solid #fff;
}
p.swb_feature_enabled_button,p.swb_feature_disabled_button 
,p.swb_plan_enabled_button,p.swb_plan_disabled_button 
{
	margin-bottom:0;
}
p.swb_feature_included_label {
	margin-top:15px;
	margin-bottom:3px;
}
.swb_feature_enabled .swb_feature_enabled_button
,.swb_plan_enabled .swb_plan_enabled_button {
	display:block;
}
.swb_feature_enabled .swb_feature_disabled_button
,.swb_plan_enabled .swb_plan_disabled_button {
	display:none;
}
.swb_feature_disabled .swb_feature_enabled_button
,.swb_plan_disabled .swb_plan_enabled_button
,.swb_plan_disabled .swb_plan_remove
,.swb_feature_included .swb_feature_enabled_button
,.swb_feature_included .swb_feature_disabled_button
,.swb_feature_included .swb_features_price  {
	display:none;
}
.swb_feature_disabled .swb_feature_disabled_button
,.swb_plan_disabled .swb_plan_disabled_button {
	display:block;
}
.swb_feature_included_label {
	display:none;
}
.swb_feature_included .swb_feature_included_label {
	display:block;
}
.swb_plan_remove {
	margin-top:-20px;
	text-decoration:underline;
	font-size:12px;
	color:#999;
	cursor:pointer;
}
.swb_feature_enabled_button span,.swb_plan_enabled_button span,.swb_feature_included_label span {
	font-size:12px;
	background:#349200;
	color:#fff;
	padding:4px 6px 5px;
	position:relative;
	top:-1px;
	border-radius:3px;
	font-weight:bold;
}
.swb_feature_disabled_button button,.swb_feature_disabled_button button:hover
,.swb_feature_enabled_button button,.swb_feature_enabled_button button:hover
,.swb_plan_disabled_button button,.swb_plan_disabled_button button:hover
,.swb_plan_enabled_button button,.swb_plan_enabled_button button:hover
 {
	background: rgb(255,255,255);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	box-shadow:none;
	color:#333;
	border:1px solid #ccc;
}
.swb_feature_info {
	font-size:12px;
	line-height:16px;
	margin-top:10px;
	margin-bottom:0;
}
.swb_features_store_feature.last {
	border-right:0;
}
.swb_features_store_feature .swb_icon {
	float:left;
	position:relative;
	margin-right:35px;
}
.swb_icon_unlimited {
	position:absolute;
	bottom:5px;
	font-size:10px;
	line-height:12px;
	right:-10px;
	background:#F02;
	color:#fff;
	padding:2px 5px;
	text-transform:uppercase;
	border-radius:4px;
}
.swb_features_price {
	font-size:12px;
	margin-bottom:15px;
	margin-top:0px;
}
button.swb_feature_button,.swb_feature_included_label span {
	margin-top:15px;
	margin-bottom:2px;
}
.swb_features_store_feature h3 {
	font-size:18px;
	color:#000;
	line-height:18px;
	margin:0;
}
#swb_signup_domain {
	position:relative;
	z-index:2;
	background:transparent;
}
pre {
	overflow:auto;
	max-width:100%;
}
/* Awesome CSS Loaders from: 
http://codepen.io/Zeneraith/pen/bdEmA
*/

/*-------------------------------------------
    $ Loaders
-------------------------------------------*/

.loader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 20px auto 34px;
    display: block;
    position: relative;
    vertical-align: middle;
}
.loader,
.loader:before,
.loader:after {
    -webkit-animation: 1s infinite ease-in-out;
    animation: 1s infinite ease-in-out;
}
.loader:before,
.loader:after {
    width: 100%; 
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Loader 7 */

.loader-7 {
    -webkit-animation: loader71 1s infinite linear;
    animation: loader71 1s infinite linear;
}

.loader-7:before,
.loader-7:after {
    content: '';
    width: 80%;
    height: 80%;
    background-color: #38ABB3;
    top: 5%;
}
.loader-7:before {
    left: -5%;
    
    -webkit-animation: loader72 1s infinite alternate ease-in-out;
	animation: loader72 1s infinite alternate ease-in-out;

	-webkit-transform-origin: 10% 50%;
	-ms-transform-origin: 10% 50%;
	transform-origin: 10% 50%;
}
.loader-7:after {
    left: auto;
    right: -5%;
    animation: loader72 1s 1s infinite alternate ease-in-out;
	-webkit-animation: loader72 1s 1s infinite alternate ease-in-out;
    transform: scale(0);
    transform-origin: 90% 50%;
    -webkit-transform: scale(0);
    -webkit-transform-origin: 90% 50%;
    -ms-transform: scale(0);
    -ms-transform-origin: 90% 50%;
}


@-moz-keyframes loader71
 {
    0%   { 
		transform: rotate(20deg); 
		-webkit-transform: rotate(20deg); 
		-ms-transform: rotate(20deg); 
	}
    100% { 
		transform: rotate(380deg); 
		-webkit-transform: rotate(380deg); 
		-ms-transform: rotate(380deg); 
	}
}


@-moz-keyframes loader72 {
    0%   { 
		transform: scale(0); 
		-webkit-transform: scale(0); 
		-ms-transform: scale(0); 
	}
    100% { 
		transform: scale(1); 
		-webkit-transform: scale(1); 
		-ms-transform: scale(1); 
	}
}
@-webkit-keyframes loader71
 {
    0%   { 
		transform: rotate(20deg); 
		-webkit-transform: rotate(20deg); 
		-ms-transform: rotate(20deg); 
	}
    100% { 
		transform: rotate(380deg); 
		-webkit-transform: rotate(380deg); 
		-ms-transform: rotate(380deg); 
	}
}


@-webkit-keyframes loader72 {
    0%   { 
		transform: scale(0); 
		-webkit-transform: scale(0); 
		-ms-transform: scale(0); 
	}
    100% { 
		transform: scale(1); 
		-webkit-transform: scale(1); 
		-ms-transform: scale(1); 
	}
}
@keyframes loader71
 {
    0%   { 
		transform: rotate(20deg); 
		-webkit-transform: rotate(20deg); 
		-ms-transform: rotate(20deg); 
	}
    100% { 
		transform: rotate(380deg); 
		-webkit-transform: rotate(380deg); 
		-ms-transform: rotate(380deg); 
	}
}


@keyframes loader72 {
    0%   { 
		transform: scale(0); 
		-webkit-transform: scale(0); 
		-ms-transform: scale(0); 
	}
    100% { 
		transform: scale(1); 
		-webkit-transform: scale(1); 
		-ms-transform: scale(1); 
	}
}

